@font-face {
    font-family: "Jua";
    src: url("/Portfolio/Portfolio/first_tab/BMJUA_ttf\ \(1\).ttf");
}

.first_tab {

    font-family: "Jua";
    position: absolute;
    background-color: rgb(158, 192, 255);
    
    width: 100%;
    height: 100px;

    left: 0px;
    top: 0px;
}

.bonobono_image {
    background-image: url("https://o.remove.bg/downloads/69327b22-b688-4eb7-8850-0303f800e151/image-removebg-preview.png");
}