.mojoAi {
    background-image: none;
}

.physicalGuide {
    background-image: none;
    
}

.midasHackathon {
    background-image: none;
}

.numberClock {
    background-image: none;
}

.somein {
    background-image: none;
}

.stepAssister {
    background-image: none;
}

.petpong {
    background-image: none;
}